$color-black: #000;
$color-white: #fff;
$primary-color: #0473ea;
$secondary-color: #38d200;
$grandent: linear-gradient(to right, #53eb1c, #38d200);
$offcanvas: linear-gradient(to top, #ffffff, #38d20000, #38d20000);
$text-color-one: #181818;
$text-color: #4e4e4e;
$bg-color: #f0f1f8;
$title-color: #012068;
$footer-bg: #1d225d;
$copyright-bg: #3d60b1;

// alumni colors
$border_1: #d96030;
$border_2: #3b6fd9;
$border_3: #01bda6;
$border_4: #9045ca;
// alumni colors end
